#header-text {
  text-align: center;
}

.main-nav-wrapper {
  position: fixed;
  top: 0;
  width: 16.666666666666664%;
  margin-top: 20px;
}
#main-nav {
  max-width: 75%;
  margin: 0 auto;
}
#main-nav li {
  text-align: center;
}